In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
data = pd.read_csv('Sales_add.csv')

In [8]:
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [7]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# The company wishes to clarify whether there is any increase in sales afterstepping into digital marketing

In [9]:
#considering hypothesis
#H0-Null hypothesis:There's increase in sales after digital marketing
#H1-Alternate hypothesis:There's no increase in sales after digital marketing

In [15]:
prior_dm = data['Sales_before_digital_add(in $)']
prior_dm

0     132921
1     149559
2     146278
3     152167
4     159525
5     137163
6     130625
7     131140
8     171259
9     141956
10    159339
11    178939
12    145062
13    151514
14    147463
15    177195
16    140862
17    167996
18    132135
19    152493
20    147425
21    130263
Name: Sales_before_digital_add(in $), dtype: int64

In [14]:
after_dm = data['Sales_After_digital_add(in $)']
after_dm

0     270390
1     223334
2     244243
3     231808
4     258402
5     256948
6     222106
7     230637
8     226261
9     193735
10    203175
11    276279
12    205180
13    253131
14    229336
15    187305
16    234908
17    191517
18    227040
19    212579
20    263388
21    243020
Name: Sales_After_digital_add(in $), dtype: int64

In [22]:
tvalue,pvalue = stats.ttest_ind(prior_dm,after_dm)
tvalue

-12.995084451110877

In [23]:
pvalue

2.614368006904645e-16

In [18]:
#finding degrees of freedom

In [25]:
df = prior_dm.count()+after_dm.count()-2
df

42

In [20]:
tcriteria = stats.t.ppf(1-0.05,42)
tcriteria

1.6819523559426

In [26]:
if(tvalue>tcriteria and pvalue<0.05):
    print("Reject H0")
else:
    print("Reject H1")

Reject H1

This indicates that the sales increased after digital marketing

# The company needs to check whether there is any dependency between thefeatures “Region” and “Manager”.

In [27]:
#Null Hypothesis:H0:There is no relation between Region and Manager
#Alternative Hypothesis:There is relation between Region and manager

In [28]:
data1 = data.groupby('Region')['Manager'].value_counts().unstack()
data1

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [29]:
c,p,dof,expected = stats.chi2_contingency(data1)

In [30]:
c

3.050566893424036

In [31]:
p

0.5493991051158094

In [32]:
dof

4

In [33]:
expected

array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]])

In [35]:
chi2_criteria = stats.chi2.ppf(1-0.05,4)
chi2_criteria

9.487729036781154

In [36]:
if(c>chi2_criteria and p<0.05):
    print("Reject H0")
else:
    print("Reject H1")

Reject H1

Indicates no relation between region and manager